body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.contact-info h1 {
    margin: 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

h2 {
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 5px solid #007BFF;
    border-radius: 4px;
}

ul {
    list-style-type: disc; /* Bullet points */
    padding-left: 20px;   /* Indentation for bullets */
}

ul li {
    margin-bottom: 10px;  /* Space between list items */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fff;
}


.job {
    margin-bottom: 20px;
}

.job h3 {
    margin: 0;
    font-size: 1.2em;
}

.job p {
    margin: 5px 0;
}

